<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hi ,
        <p> Forgot your password? Submit a patch request with your new password and passwordConfirm to: .</p>
        <p>{Website for this action not yet implemented.}</p>
        <br>
        <br>
        <p><%= url %></p>
        <br>
        <p>If you didnt forget your password then ignore this email.</p>
    </p>
</body>
</html>