<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/create_your_profile.css">
	<title>Create your profile</title>
</head>
<body>
	<h1 class="title"><b>CREATE YOUR PROFILE</b></h1>
	<center>
    <div class="box">
    	<input type="text" name="text" placeholder="NAME" class="input">
    	<br>
    	<input type="tel" name="text" placeholder="MOBILE NO." class="input">
    	<br>
        <input type="number" name="text" placeholder="AGE" class="input">
        <br>
        <button class="back">back</button>
        <button class="button" ><div style="color:white">DONE</div></button>
    </div>
    </center>
</body>
</html>