<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/date_time.css">
	<title>Order</title>
</head>
<body style="background-color: rgba(0,0,0,0.1);">
<center>
<div class="box">
	<h1 style="color: green">Enter Order details</h1>
	<form id="order-form">
		<input type="text" class="date name" name="date" placeholder="Enter name of product/service">
		<br>
		<input type="number" class="time quantity" name="time" placeholder="Number of units/estimated time">
		<br>
		<button class="button" type="submit">POST</button>
	</form>
</div>
</center>
<script type="text/javascript" src="/js/order.js"></script>
</body>
</html>