<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/enter_your_item_details.css">
	<title>Enter your item details</title>
</head>
<body>
	<h1 class="title"><b>ENTER YOUR ITEM DETAILS</b></h1>
	<center>
    <div class="box" >
    	<input type="text" name="text" placeholder="ITEM" class="input">
    	<br>
    	<input type="tel" name="text" placeholder="PRICE" class="input">
    	<br>
        <input type="text" name="text" placeholder="STOCK" class="input">
        <br>
        <button class="back">back</button>
        <button class="button" ><div style="color:white">POST</div></button>
    </div>
    </center>
</body>
</html>