<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/enter_your_service_details.css">
	<title>Enter your service details</title>
</head>
<body>
	<h1 class="title"><b>ENTER YOUR SERVICE DETAILS</b></h1>
	<center>
    <div class="box">
		<form id="service-form">
		<input type="text" name="text" placeholder="SERVICE" class="input name">
    	<br>
        <input type="text" name="text" placeholder="Rate per Hour" class="input rate">
		<br>
		<input type="text" name="text" placeholder="Service Image" class="input image">
        <br>
        <button class="back">back</button>
        <button class="button" ><div style="color:white">POST</div></button>
		</form>
    </div>
	</center>
	<script type="text/javascript" src="/js/create_services.js"></script>
</body>
</html>