<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/enter_your_service_details.css">
	<title>Enter your service details</title>
</head>
<body>
	<h1 class="title"><b>ENTER YOUR SERVICE DETAILS</b></h1>
	<center>
    <div class="box" >
    	<input type="text" name="text" placeholder="SERVICE" class="input">
    	<br>
    	<input type="tel" name="text" placeholder="PRICE" class="input">
    	<br>
        <input type="text" name="text" placeholder="WORKING HOURS" class="input">
        <br>
        <button class="back">back</button>
        <button class="button" ><div style="color:white">POST</div></button>
    </div>
    </center>
</body>
</html>