<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/landing_Page.css">
    <title>Welcome</title>
  </head>
  <body>
    <div id="outerbox">
      <div id="innerbox">
        <div class="text">
          <div class="big">FIND YOUR BEST PRODUCTS <br>AND SERVICES HERE
          </div>
          <br><br><br>
          <div class="small">Millions of people use this website to turn their <br>ideas into reality
          </div>
          <br><br><br>
          <br><br><br>
          <button class="signup" type="button" name="button"><a href="/signup">Sign up</a></button>
          <button class="signin" type="button" name="button"><a href="login">Sign in</a></button>
          <br><br><br><br>
          <button class="skip" type="button" name="button">SKIP>></button>
        </div>
      </div>

    </div>
  </body>
</html>
