<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/log_in.css">
	<title>Log In</title>
</head>
<body style="background-image: url(pics/login.jpeg);background-size: cover;background-repeat: no-repeat; background-position: top;height: 90vh; backdrop-filter: blur(2px)">
	<h1 class="title">Log In</h1>
	<center>
    <div class="box">
        <form>
    	<input type="text" name="text" placeholder="NAME" class="input">
    	<br>
    	<input type="password" name="text" placeholder="PASSWORD" class="input">
    	<br>
        <button class="button" ><div style="color:white">LOGIN</div></button>
        <button class="back">back</button>
        </form>
    </div>
    </center>
</body>
</html>