<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/log_in.css">
	<title>Log In</title>
</head>
<body style="background-image: url(pics/login.jpeg);background-size: cover;background-repeat: no-repeat; background-position: top;height: 90vh; backdrop-filter: blur(2px)">
	<h1 class="title">Log In</h1>
	<center>
    <div class="box">
        <form id="login-form">
    	<input type="email" name="text" placeholder="Email" class="input email">
    	<br>
    	<input type="password" name="text" placeholder="Password" class="input password">
    	<br>
        <button class="button" id="submit" ><div style="color:white">LOGIN</div></button>
        <button class="back">back</button>
        </form>
    </div>
	</center>
	<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>