<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/post_sell.css">
	<title>Post Service or Sell Item</title>
</head>
<body style="background-color: rgba(0,0,0,0.1);">
<center>
<div class="box">
	<form>
		<button class="button" name="button">Post Service</button>
		<br>
		<button class="button" name="button">Sell Items</button>

	</form>
</div>
</center>
</body>
</html>