<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/sign_up.css">
	<title>Sign Up</title>
</head>
<body>
	<h1 class="title"><b>SIGN UP</b></h1>
	<center>
    <div class="box">
    	<input type="text" name="text" placeholder="NAME" class="input">
    	<br>
    	<input type="password" name="text" placeholder="PASSWORD" class="input">
    	<br>
        <button class="button" ><div style="color:white">LOGIN</div></button>
        <button class="back">back</button>
    </div>
    </center>
</body>
</html>