<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/sign_up.css">
	<title>Sign Up</title>
</head>
<body style="background-image: url(pics/signup.jpeg); backdrop-filter: blur(2px);background-size: cover; background-repeat: no-repeat; background-position: center">
	<h1 class="title">Sign Up</h1>
	<center>
    <div class="box">
        <form>
    	<input type="text" name="text" placeholder="NAME" class="input">
    	<br>
    	<input type="number" name="text" placeholder="MOBILE NO." class="input">
        <br>
        <input type="text" name="text" placeholder="PROFESSION" class="input">
        <br>
        <input type="text" name="text" placeholder="EMAIL ID" class="input">
        <br>
        <input type="password" name="text" placeholder="PASSWORD" class="input">
    	<br>
        <input type="password" name="text" placeholder="CONFIRM PASSWORD" class="input">
        <br>
        <textarea placeholder="DETAILS" class="details"></textarea>
        <br>
        <button class="button" ><div style="color:white">SIGN UP</div></button>
        <button class="back">back</button>
        </form>
    </div>
    </center>
</body>
</html>