.title{
	text-align: center;
	font-size: 50px;
	font-family: Arial Black;
}
.box{
	height: 400px;
	width: 500px;
	text-align: center;
	border-radius: 30px;
	border-style: groove;
}
.input{
	border-radius: 200;
	border-width: 0;
	margin-top: 50px;
	height: 30px;
	width: 280px;
	border-bottom-width: 1px;
}
.button{
	margin-top: 50px;
	height: 30px;
	width: 100px;
	margin-left: 30px;
	border-radius: 20px;
	border-width: 0;
	background-color: #23F518;
}
.back{
	height: 45px;
	width: 45px;
	border-radius: 100%;
	background-color: rgba(0,0,0,0); 
	margin-left: 30px;
	color: #23F518; 
	border-color: #23F518;
}